.form {
    width: 100%;
    margin: 2em 0;
}

.btn {
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border: none;
    cursor: pointer;
    max-height: 40px;
  }
  
  .btn:hover {
    color: #ffbb33;
  }
  
  .form {
    width: 100%;
  }
  